
#navigationbar{
  /* padding: 10px; */
  background-color: aquamarine;
  display: flex;
  justify-content: space-around;
  width: 100%;

  a{
    background-color: black;
    color: aliceblue;
    text-decoration: none;
    /* padding: 10px; */
    /* display: inline-block; */
    &:hover
  {
    background-color: rgb(17, 0, 255);
  }
  }
  

}

header{
  width: 100%;
  div{
    width: 100%;

  }

}
  #main-container{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

    
    
  }

main{
  margin: 10px;


}

.links{
  background-color: black;
  color: white;
  text-decoration: none;
 
}

.links:hover{
  background-color: blue;
}

.cardd{

 /* width: fit-content; */
 width: 300px;
 text-align: center;
 display: flex;
 flex-direction: column;
  

 margin-bottom: 10px;
 /* height: 100%; */
    background-color: aquamarine;
    
    img{
      width: 200px;
      height: 150px;
    }
}
